<!DOCTYPE html>
<html lang="en" ng-app='app'>

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src='node_modules/angular/angular.js'>
    </script>
    <script>
        var app = angular.module('app', []);
        app.controller('myController', ['$scope', function($scope) {
            $scope.products = [];
            $scope.addproduct = function() {
                $scope.products.push($scope.product);
                $scope.product = {};
            }
            $scope.deleteproduct = function(index) {
                var pos = $scope.products.indexOf(index);
                $scope.products.splice(pos,1);
            }
            $scope.printController = function() {
                console.log($scope);
            }
        }]);
    </script>
</head>
<body ng-controller="myController">
    <form class="" ng-submit="addproduct()">
        <label for="product['first_name']">First Name: <input type="text" ng-model="product['first_name']"></label>
        <label for="product['last_name']">Last Name: <input type="text" ng-model="product['last_name']"></label>
        <input type="submit" name="submit" value="Create Product">
    </form>
    <table>
        <thead>
            <th>Name</th>
            <th>Price</th>
            <th>Actions</th>
        </thead>
        <tr ng-repeat="index in products">
            <td ng-bind="index['name']"></td>
            <td ng-bind="index['price']"></td>
            <td><button type="button" ng-click="deleteProduct(index)">Delete</button></td>
        </tr>
    </table>
    <button ng-click = "printController();">Show our $scope!</button>
</body>
</html>
