<!DOCTYPE html>
<html lang="en" ng-app='app'>

<head>
    <meta charset="UTF-8">
    <title>Producks. Get it? PRO ducks!</title>
    <script src='node_modules/angular/angular.js'>
    </script>
    <script>
        var app = angular.module('app', []);
        app.factory('productFactory', function(){
            var factory = {};
            products = [{name: 'test1', price: 44}, {name: 'test2', price: 44}, {name: 'test3', price: 44}];
            factory.getproducts = function(callback) {
                callback(products);
            }
            factory.addproduct = function(product) {
                products.push(product);
            }
            factory.deleteproduct = function(id) {
                products.splice(id,1);
            }
            return factory;
        });
        app.controller('productController', ['$scope', 'productFactory', function($scope, productFactory) {
            $scope.products = [];
            console.log($scope.products);
            productFactory.getproducts(function(data) {
                $scope.products = data;
            });
            console.log($scope.products);
            $scope.addproduct = function(product) {
                productFactory.addproduct(product);
                $scope.product = {};
            }
            $scope.deleteproduct = function(product) {
                productFactory.deleteproduct(product);
            }
        }]);
    </script>
</head>
<body ng-controller="productController">
    <form class="productform" ng-submit="addproduct(product)">
        <label for="product['name']">Name: <input type="text" ng-model="product['name']"></label>
        <label for="product['price']">Price: <input type="number" step="0.01" ng-model="product['price']"></label>
        <input type="submit" name="submit" value="Create Product">
    </form>
    <table>
        <thead>
            <th>Name</th>
            <th>Price</th>
            <th>Actions</th>
        </thead>
        <tr ng-repeat="product in products">
            <td ng-bind="product['name']"></td>
            <td ng-bind="product['price'] | currency:'USD $'"></td>
            <td><button type="button" ng-click="deleteproduct($index)">Delete</button></td>
        </tr>
    </table>
</body>
<style media="screen">
    th, td {
        border: 1px solid black;
    }
</style>
</html>
