<!DOCTYPE html>
<html lang="en" ng-app='app'>

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src='node_modules/angular/angular.js'>
    </script>
    <script>
        var app = angular.module('app', []);
        app.controller('myController', ['$scope', function($scope) {
            $scope.users = [];
            $scope.addUser = function() {
                $scope.users.push($scope.user);
                $scope.user = {};
            }
            $scope.deleteUser = function(index) {
                var pos = $scope.users.indexOf(index);
                $scope.users.splice(pos,1);
            }
            $scope.printController = function() {
                console.log($scope);
            }
        }]);
    </script>
</head>
<body ng-controller="myController">
    <form class="" ng-submit="addUser()">
        <label for="user['first_name']">First Name: <input type="text" ng-model="user['first_name']"></label>
        <label for="user['last_name']">Last Name: <input type="text" ng-model="user['last_name']"></label>
        <label for="user['language']">Favorite Language: <input type="text" ng-model="user['language']"></label>
        <input type="submit" name="submit" value="Create User">
    </form>
    <table>
        <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Favorite Language</th>
            <th>Actions</th>
        </thead>
        <tr ng-repeat="index in users">
            <td ng-bind="index['first_name']"></td>
            <td ng-bind="index['last_name']"></td>
            <td ng-bind="index['language']"></td>
            <td><button type="button" ng-click="deleteUser(index)">Delete</button></td>
        </tr>
    </table>
    <button ng-click = "printController();">Show our $scope!</button>
</body>
</html>
