<h1>Welcome</h1>
<div ng-controller="blogController">
	<form ng-submit="submitForm(newBlog);">
		Title: <input type="text" ng-model="newBlog.title"> <br>
		Author: <input type="text" ng-model="newBlog.author"> <br>
		Desc: <input type="text" ng-model="newBlog.description"> <br>
		<input type="submit" value="Add Blog">
	</form>
	<ul>
		<li ng-repeat="blog in blogs | orderBy: postDate track by $index">
			<span ng-bind="blog.title"></span>
			<span ng-bind="blog.author"></span>
			<span ng-bind="blog.postDate | date: 'MM dd, yyyy'"></span>
			<a href="#!/showblog/{{blog._id}}"><button type="button" name="button" >Show Blog</button></a>
			<button type="button" name="button" ng-click='voteBlog(blog._id)'><img src="http://worldartsme.com/images/green-thumb-clipart-1.jpg" alt="" width="10" height="10"></button>
		</li>
	</ul>
</div>