<!DOCTYPE html>
<html ng-app="theTodo">
  <head>
    <meta charset="utf-8">
    <title> The ToDo App </title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="scripts.js"></script>

  </head>
  <body ng-controller="myController">

    <h1> Welcome To Your To Do List! </h1>
    <h2> You have {{ todos.length }} unfinished todos!</h2>
    <h3>Here are your todos:</h3><hr>

    <div class="list">
      <ul ng-repeat="todo in todos">
          <li>
              <input type="checkbox" ng-click="deleteTodo(todo._id)"> {{ todo.text }} by:
              <span ng-bind="todo.date | date: MM/dd/yyyy "></span>
          </li>
      </ul>
    </div><hr>

    <div id="todo-form" class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <form>
                <div class="form-group">

                    <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                    <input type="text" placeholder="What do you have to do?" ng-model="formData.text">
                    <input type="date" ng-model="formData.date">
                </div>

                <!-- createToDo() WILL CREATE NEW TODOS -->
                <button type="submit" ng-click="createTodo()">Add</button>
            </form>
        </div>
    </div><hr>


  </body>
</html>
