<!DOCTYPE html>
<!-- DONT FORGET TO ADD YOUR ANGULAR APP! -->
<html ng-app='app'>
  <head>
    <meta charset="utf-8">
    <title>Awesome Friends</title>
    <!-- Angular from bower_components, otherwise find the CDN -->
    <script type="text/javascript" src="angular/angular.js"></script>
    <script type="text/javascript" src="angular-route/angular-route.js"></script>
    <!-- End Bower Components -->
    <script type="text/javascript" src="assets/app.js"></script>
    <script type="text/javascript" src="assets/controllers/newController.js"></script>
    <script type="text/javascript" src="assets/controllers/editController.js"></script>
    <script type="text/javascript" src="assets/factories/friendsFactory.js"></script>
  </head>
  <body ng-controller='newController'>
    <a href="#!/new">new</a>
    <div ng-view="">
    </div>
    <hr>
    <div>
      <table style='border: 1px solid black'>
        <thead>
          <tr>
            <td><h3>name</h3></td>
            <td><h3>language</h3></td>
            <td><h3>show</h3></td>
            <td><h3>update</h3></td>
            <td><h3>delete</h3></td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat='friend in friends'>
            <td><h3>{{friend.name}}</h3></td>
            <td><h3>{{friend.language}}</h3></td>
            <td><h3><a href="#!/show/{{friend._id}}" >show</a></h3></td>
            <td><h3><a href="#!/edit/{{friend._id}}">update</a></h3></td>
            <td><h3><a href='' ng-click='deleteFriend(friend._id)'>delete</a></h3></td>
          </tr>
        </tbody>
      </table>

    </div>

  </body>
</html>
